body {
	background-color:red;
	font-size: 1.2em;
	color: black;
	margin: 0;
}

#header-nav {
	background-color: grey;
	border:0;
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding: 1px solid black;
}

#header-nav span{
	font-size: 3.8em;
    font-weight: bold;
    width: 150px;
    height: 150px;
    color: black;
}

#heading h1{
	text-align: center;
	font-weight: bold;
}
.container{
	border-bottom: 1px solid;
	height: 100px;
}
.content p{ 
	overflow: none;
	 border:0;
  width: 33.3%;
  height: 100px;
  margin-bottom:3%;
  color: black
  font-size: 1.2em;
  padding: 0;
  padding-top: 0;
  background-color: blue;
  text-align: center;
  position:relative; 
  margin-left: 50px;
}
.content-name p{
	overflow: none;
  text-align: center;
  border:0;
  width: 33.3%;
  height: 100px
  padding: 1px;
  float: left;
  font-weight: bold;
  position: relative;
  background-color: blue;
  font-size: 1.8em;

  }
    
 .box{

 		width:auto;
	background-color: blue;
	text-align: center;
	margin: 1px;
	overflow: none;
	height: 100%;
}

/*header */
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}
/*Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    margin-left: -10px;
    width: 100%;
  }
  
  
}
/*Mobile*/
@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
  .content-name{
    margin-right: 25px;
  }
	
}
